
<div class="bk-root" id="a99f7364-e432-4d6f-bf30-0707ea55b162" data-root-id="1004"></div><body>
<script type="text/javascript">
    (function() {
          var fn = function() {
            Bokeh.safely(function() {
              (function(root) {
                function embed_document(root) {
                  
                var docs_json = '{&quot;4e42d347-e103-4aca-844f-b7e1505e91a8&quot;:{&quot;roots&quot;:{&quot;references&quot;:[{&quot;attributes&quot;:{&quot;editor&quot;:{&quot;id&quot;:&quot;1009&quot;},&quot;field&quot;:&quot;popRank&quot;,&quot;formatter&quot;:{&quot;id&quot;:&quot;1008&quot;},&quot;title&quot;:&quot;Population Rank&quot;},&quot;id&quot;:&quot;1003&quot;,&quot;type&quot;:&quot;TableColumn&quot;},{&quot;attributes&quot;:{},&quot;id&quot;:&quot;1010&quot;,&quot;type&quot;:&quot;Selection&quot;},{&quot;attributes&quot;:{},&quot;id&quot;:&quot;1006&quot;,&quot;type&quot;:&quot;StringFormatter&quot;},{&quot;attributes&quot;:{&quot;columns&quot;:[{&quot;id&quot;:&quot;1002&quot;},{&quot;id&quot;:&quot;1003&quot;}],&quot;height&quot;:480,&quot;source&quot;:{&quot;id&quot;:&quot;1001&quot;},&quot;view&quot;:{&quot;id&quot;:&quot;1005&quot;},&quot;width&quot;:800},&quot;id&quot;:&quot;1004&quot;,&quot;type&quot;:&quot;DataTable&quot;},{&quot;attributes&quot;:{&quot;data&quot;:{&quot;popRank&quot;:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52],&quot;states&quot;:[&quot;CA&quot;,&quot;TX&quot;,&quot;FL&quot;,&quot;NY&quot;,&quot;PA&quot;,&quot;IL&quot;,&quot;OH&quot;,&quot;GA&quot;,&quot;NC&quot;,&quot;MI&quot;,&quot;NJ&quot;,&quot;VA&quot;,&quot;WA&quot;,&quot;AZ&quot;,&quot;MA&quot;,&quot;TN&quot;,&quot;IN&quot;,&quot;MO&quot;,&quot;MD&quot;,&quot;WI&quot;,&quot;CO&quot;,&quot;MN&quot;,&quot;SC&quot;,&quot;AL&quot;,&quot;LA&quot;,&quot;KY&quot;,&quot;OR&quot;,&quot;OK&quot;,&quot;CT&quot;,&quot;UT&quot;,&quot;PR&quot;,&quot;IA&quot;,&quot;NV&quot;,&quot;AR&quot;,&quot;MS&quot;,&quot;KS&quot;,&quot;NM&quot;,&quot;NE&quot;,&quot;WV&quot;,&quot;ID&quot;,&quot;HI&quot;,&quot;NH&quot;,&quot;ME&quot;,&quot;MT&quot;,&quot;RI&quot;,&quot;DE&quot;,&quot;SD&quot;,&quot;ND&quot;,&quot;AK&quot;,&quot;DC&quot;,&quot;VT&quot;,&quot;WY&quot;]},&quot;selected&quot;:{&quot;id&quot;:&quot;1010&quot;},&quot;selection_policy&quot;:{&quot;id&quot;:&quot;1011&quot;}},&quot;id&quot;:&quot;1001&quot;,&quot;type&quot;:&quot;ColumnDataSource&quot;},{&quot;attributes&quot;:{},&quot;id&quot;:&quot;1011&quot;,&quot;type&quot;:&quot;UnionRenderers&quot;},{&quot;attributes&quot;:{},&quot;id&quot;:&quot;1007&quot;,&quot;type&quot;:&quot;StringEditor&quot;},{&quot;attributes&quot;:{&quot;source&quot;:{&quot;id&quot;:&quot;1001&quot;}},&quot;id&quot;:&quot;1005&quot;,&quot;type&quot;:&quot;CDSView&quot;},{&quot;attributes&quot;:{},&quot;id&quot;:&quot;1008&quot;,&quot;type&quot;:&quot;StringFormatter&quot;},{&quot;attributes&quot;:{&quot;editor&quot;:{&quot;id&quot;:&quot;1007&quot;},&quot;field&quot;:&quot;states&quot;,&quot;formatter&quot;:{&quot;id&quot;:&quot;1006&quot;},&quot;title&quot;:&quot;State&quot;},&quot;id&quot;:&quot;1002&quot;,&quot;type&quot;:&quot;TableColumn&quot;},{&quot;attributes&quot;:{},&quot;id&quot;:&quot;1009&quot;,&quot;type&quot;:&quot;StringEditor&quot;}],&quot;root_ids&quot;:[&quot;1004&quot;]},&quot;title&quot;:&quot;Bokeh Application&quot;,&quot;version&quot;:&quot;2.0.2&quot;}}';
                var render_items = [{"docid":"4e42d347-e103-4aca-844f-b7e1505e91a8","root_ids":["1004"],"roots":{"1004":"a99f7364-e432-4d6f-bf30-0707ea55b162"}}];
                root.Bokeh.embed.embed_items(docs_json, render_items);
              
                }
                if (root.Bokeh !== undefined) {
                  embed_document(root);
                } else {
                  var attempts = 0;
                  var timer = setInterval(function(root) {
                    if (root.Bokeh !== undefined) {
                      clearInterval(timer);
                      embed_document(root);
                    } else {
                      attempts++;
                      if (attempts > 100) {
                        clearInterval(timer);
                        console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing");
                      }
                    }
                  }, 10, root)
                }
              })(window);
            });
          };
          if (document.readyState != "loading") fn();
          else document.addEventListener("DOMContentLoaded", fn);
        })();
</script></body>